body {
    background-color: #222;
    display: flex;
    flex-direction: column;
}

#header {
    color: white;
    font-size: 3.5rem;
    text-align: center;
    margin-bottom: 20px;
}

#question_text {
    color: white;
    font-size: 1.5rem;
    text-align: center;
}

#scale_name {
    color: lightblue;
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 20px;
}

#scale_input {
    display: inline-flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
}

.interval_name {
    color: white;
}

#root {
    margin-right: 2.5%;
}

.naturals {
    font-size: 2rem;
    color: white;
    text-align: center;
    margin: 0;
}

.flatsharp_options {
    background-color: #333;
    color: white;
    font-size: 1.5rem;
    border: none;
    margin-right: 20px;
}

#submit_button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
button {
    background: #1E1E1E;
    color: lightgrey;
    width: 100px;
    height: 50px;
    border: 1;
    border-color: black;
}

#scoreboard {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 2rem;
    margin-bottom: 20px;
}

#right_label {
    margin: 10px;
    color: green;
}

#right {
    margin: 10px;
}

#wrong_label {
    margin: 10px;
    color: red;
}

#wrong {
    margin: 10px;
}


#advice, #menu_checkbox_label {
    font-family: monospace;
    font-size: 1.2rem;
    color: grey;
    margin: 0;
}

#menu_parent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#menu {
    margin-top: 15px;
    margin-left: 2.5%;
}

.menu_labels {
    color: lightblue;
    font-size: 1rem;
    font-family: monospace;
}

.toggle_all {
    margin-top: 10px;
    width: 75px;
    height: 30px;
}

#advice {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

a {    
    display: flex;
    justify-content: center;
    color: yellow;
}

a:visited {
    color: yellow;
}

a:hover {
    color: lightblue;
}